@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

[epub|type~="z3998:song"] p{
    text-align: initial;
    text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
    display: block;
    text-indent: -1em;
    padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
    display: none;
}

[epub|type~="z3998:song"] p + p{
    margin-top: 1em;
}

p span.i1{
    text-indent: -1em;
    padding-left: 2em;
}

[epub|type~="z3998:verse"] p{
    text-align: initial;
    text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
    display: block;
    padding-left: 1em;
    text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
    display: none;
}

[epub|type~="z3998:verse"] p + p{
    margin-top: 1em;
}

body [xml|lang]{
    font-style: italic;
}
